*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
button{
    border: none;
}
body{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    background:
      radial-gradient(black 3px, transparent 4px),
      radial-gradient(black 3px, transparent 4px),
      linear-gradient(#dfdfdf 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #c4c4c4 75px, #c4c4c4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #c4c4c4 76px, #c4c4c4 77px, transparent 78px, transparent 109px),
      #dfdfdf;
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

/*Курсор*/
.circle {
    height: 15px;
    width: 15px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
}

/*Изменение темы*/
.theme{
    border: none;
    position: absolute;
    top: 10px;
    right: 42px;
    border-radius: 16px;
}
.theme_fon{
    border-radius: 16px;
    width: 62px;
    height: 31px;
    background: #151515de;
}
.moon_light{
    position: absolute;
    top: 0;
    right: 31px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border: none;
    background: #151515;
    border-radius: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.49), 0 2px 2px 0 rgba(0, 0, 0, 0.43), 0 5px 3px 0 rgba(0, 0, 0, 0.25), 0 9px 4px 0 rgba(0, 0, 0, 0.07), 0 14px 4px 0 rgba(0, 0, 0, 0.01);
    transition: .2s;
}

/*Меню*/
header{
    position: fixed;
    z-index: 3;
    width: 35px;
}

nav{
    width: 35px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0 0 23px;
}
nav a{
    display: flex;
}

.logo_block{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.09), 0 5px 3px 0 rgba(0, 0, 0, 0.05), 0 10px 4px 0 rgba(0, 0, 0, 0.01), 0 15px 4px 0 rgba(0, 0, 0, 0);
    background: #fff;
}

/* Лого наведение*/

.logo_hover{
    display: none;
    position: absolute;
    top: 7px;
    left: 63px;
    z-index: 1;
}
.logo_hover span{
    z-index: 2;
    position: relative;
    top: 26px;
    left: 34px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}
.logo:hover .logo_hover{
    display: block;
}

/* Профиль наведение */
.profile_logo{
    display: none;
    position: absolute;
    top: 46px;
    left: 61px;
}
.profile_logo span{
    position: relative;
    top: 25px;
    left: 32px;
}
.profile:hover .profile_logo{
    display: block;
}
.profile:hover .logo_block{
    background: #151515;
}
.profile:hover .logo_block svg path{
    fill: #fff;
}
/* Лента наведение */

.lenta_hover{
    display: none;
    position: absolute;
    top: 86px;
    left: 61px;
}
.lenta_hover span{
    position: relative;
    top: 25px;
    left: 41px;
}
.lenta:hover .lenta_hover{
    display: block;
}
.lenta:hover .logo_block{
    background: #151515;
}
.lenta:hover .logo_block svg path{
    fill: #fff;
}
/* Сообщения наведение */

.messages_hover{
    display: none;
    position: absolute;
    top: 127px;
    left: 61px;
}
.messages_hover span{
    position: relative;
    top: 26px;
    left: 23px;
}
.messages:hover .messages_hover{
    display: block;
}
.messages:hover .logo_block{
    background: #151515;
}
.messages:hover .logo_block svg path{
    fill: #fff;
}
/* Друзья наведение */

.friends_hover {
    display: none;
    position: absolute;
    top: 166px;
    left: 61px;
}
.friends_hover span{
    position: relative;
    top: 24px;
    left: 38px;
}
.friends:hover .friends_hover{
    display: block;
}
.friends:hover .logo_block{
    background: #151515;
}
.friends:hover .logo_block svg path{
    fill: #fff;
}
/* Настройки наведение */

.settings_hover{
    display: none;
    position: absolute;
    top: 206px;
    left: 61px;
}
.settings_hover span{
    position: relative;
    top: 25px;
    left: 23px;
}
.settings:hover .settings_hover{
    display: block;
}
.settings:hover .logo_block{
    background: #151515;
}
.settings:hover .logo_block svg path{
    fill: #fff;
}
/* Главный блок */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
/*Друзья*/
.container_friends{
    width: 1250px;
    margin: 0 auto;
    position: relative;
    z-index: 8;
}
.frends{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_friends{
    color: #151515;
    text-align: center;
    font-family: Comfortaa;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.friends_box{
    width: 854px;
    height: 742px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.18), 0px 27px 27px 0px rgba(0, 0, 0, 0.15), 0px 60px 36px 0px rgba(0, 0, 0, 0.09), 0px 107px 43px 0px rgba(0, 0, 0, 0.03), 0px 167px 47px 0px rgba(0, 0, 0, 0.00);
}
.search_friends{
    width: 780px;
    height: 80px;
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    width: 698px;
    height: 43px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.14), 0px 24px 24px 0px rgba(0, 0, 0, 0.12), 0px 54px 33px 0px rgba(0, 0, 0, 0.07), 0px 97px 39px 0px rgba(0, 0, 0, 0.02), 0px 151px 42px 0px rgba(0, 0, 0, 0.00);
    border: none;
    color: #333232;
    font-family: Comfortaa;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;
}

.btn{
    width: 58px;
    height: 43px;
    border-radius: 10px;
    background: #151515;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.88), 0px 4px 4px 0px rgba(0, 0, 0, 0.77), 0px 9px 5px 0px rgba(0, 0, 0, 0.45), 0px 15px 6px 0px rgba(0, 0, 0, 0.13), 0px 24px 7px 0px rgba(0, 0, 0, 0.02);
    color: #fff;
    font-family: Comfortaa;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}
.friends_s{
    position: relative;
    z-index: 10;
    height: 626px;
    overflow-y: scroll;
    width: 844px;
    display: flex;
    justify-content: center;
}
.friends_s::-webkit-scrollbar {
    width: 10px;             /* ширина scrollbar */
}
.friends_s::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
}
.friends_s::-webkit-scrollbar-thumb {
    width: 6px;
    height: 39px;
    background: #151515;   /* цвет плашки */
}
.friend{
    width: 780px;
    height: 73px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.18), 0px 27px 27px 0px rgba(0, 0, 0, 0.15), 0px 60px 36px 0px rgba(0, 0, 0, 0.09), 0px 107px 43px 0px rgba(0, 0, 0, 0.03), 0px 167px 47px 0px rgba(0, 0, 0, 0.00);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}
.friends_info{
    display: flex;
    align-items: center;
}
.friend_img{
    margin-left: 12px;
}
.friend_t{
    margin-left: 8px;
}
.friend_n{
    color: #151515;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.friend_p{
    color: #151515;
    font-family: Comfortaa;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.date_f{
    color: #151515;
    font-family: Comfortaa;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.buttons{
    display: flex;
    margin-right: 17px;
}
.prof{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 37px;
    border-radius: 5px;
    background: #151515;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 17px;
}
.send{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 37px;
    border-radius: 5px;
    background: #151515;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 17px;
}
.add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 37px;
    border-radius: 5px;
    background: #151515;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 17px;
}
.prof img{
    margin-right: 5px;
}
.send img{
    margin-right: 5px;
}
.add img{
    margin-right: 5px;
}

.friends_s::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;
}  