*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
button{
    border: none;
}
body{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background:
      radial-gradient(black 3px, transparent 4px),
      radial-gradient(black 3px, transparent 4px),
      linear-gradient(#dfdfdf 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #c4c4c4 75px, #c4c4c4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #c4c4c4 76px, #c4c4c4 77px, transparent 78px, transparent 109px),
      #dfdfdf;
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

/*Курсор*/
.circle {
    height: 15px;
    width: 15px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
}

/*Изменение темы*/
.theme{
    border: none;
    position: absolute;
    top: 10px;
    right: 42px;
    border-radius: 16px;
}
.theme_fon{
    border-radius: 16px;
    width: 62px;
    height: 31px;
    background: #151515de;
}
.moon_light{
    position: absolute;
    top: 0;
    right: 31px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border: none;
    background: #151515;
    border-radius: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.49), 0 2px 2px 0 rgba(0, 0, 0, 0.43), 0 5px 3px 0 rgba(0, 0, 0, 0.25), 0 9px 4px 0 rgba(0, 0, 0, 0.07), 0 14px 4px 0 rgba(0, 0, 0, 0.01);
    transition: .2s;
}

/*Меню*/
header{
    position: fixed;
    z-index: 3;
    width: 35px;
}

nav{
    width: 35px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0 0 23px;
}
nav a{
    display: flex;
}

.logo_block{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.09), 0 5px 3px 0 rgba(0, 0, 0, 0.05), 0 10px 4px 0 rgba(0, 0, 0, 0.01), 0 15px 4px 0 rgba(0, 0, 0, 0);
    background: #fff;
}

/* Лого наведение*/

.logo_hover{
    display: none;
    position: absolute;
    top: 7px;
    left: 63px;
    z-index: 1;
}
.logo_hover span{
    z-index: 2;
    position: relative;
    top: 26px;
    left: 34px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}
.logo:hover .logo_hover{
    display: block;
}

/* Профиль наведение */
.profile_logo{
    display: none;
    position: absolute;
    top: 46px;
    left: 61px;
}
.profile_logo span{
    position: relative;
    top: 25px;
    left: 32px;
}
.profile:hover .profile_logo{
    display: block;
}
.profile:hover .logo_block{
    background: #151515;
}
.profile:hover .logo_block svg path{
    fill: #fff;
}
/* Лента наведение */

.lenta_hover{
    display: none;
    position: absolute;
    top: 86px;
    left: 61px;
}
.lenta_hover span{
    position: relative;
    top: 25px;
    left: 41px;
}
.lenta:hover .lenta_hover{
    display: block;
}
.lenta:hover .logo_block{
    background: #151515;
}
.lenta:hover .logo_block svg path{
    fill: #fff;
}
/* Сообщения наведение */

.messages_hover{
    display: none;
    position: absolute;
    top: 127px;
    left: 61px;
}
.messages_hover span{
    position: relative;
    top: 26px;
    left: 23px;
}
.messages:hover .messages_hover{
    display: block;
}
.messages:hover .logo_block{
    background: #151515;
}
.messages:hover .logo_block svg path{
    fill: #fff;
}
/* Друзья наведение */

.friends_hover {
    display: none;
    position: absolute;
    top: 166px;
    left: 61px;
}
.friends_hover span{
    position: relative;
    top: 24px;
    left: 38px;
}
.friends:hover .friends_hover{
    display: block;
}
.friends:hover .logo_block{
    background: #151515;
}
.friends:hover .logo_block svg path{
    fill: #fff;
}
/* Настройки наведение */

.settings_hover{
    display: none;
    position: absolute;
    top: 206px;
    left: 61px;
}
.settings_hover span{
    position: relative;
    top: 25px;
    left: 23px;
}
.settings:hover .settings_hover{
    display: block;
}
.settings:hover .logo_block{
    background: #151515;
}
.settings:hover .logo_block svg path{
    fill: #fff;
}
/*Наведение настройки ленты*/
.lentaset_hov{
    display: none;
}
.lentaset_hov_nad{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 12px;
    width: 135px;
    color: #fff;
    position: absolute;
    right: 89px;
    bottom: 120px;
    z-index: 3;
}
.lentaset_hov_ico{
    position: absolute;
    bottom: 103px;
    right: 81px;
}
.lentaset:hover{
    background-color: #151515;
}
.lentaset:hover .lentaset_hov{
    display: flex;
}
.lentaset:hover .lentaset_ico path{
    fill: #fff;
}
/*Наведение добавление фото ленты*/
.lentaadd_hov{
    display: none;
}
.lentaadd_hov_nad{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 12px;
    width: 135px;
    color: #fff;
    position: absolute;
    right: 82px;
    bottom: 30px;
    z-index: 3;
}
.lentaadd_hov_ico{
    position: absolute;
    bottom: 12px;
    right: 81px;
}
.lentaadd:hover{
    background-color: #151515;
}
.lentaadd:hover .lentaadd_hov{
    display: flex;
}
.lentaadd:hover .lentaadd_ico path{
    fill: #fff;
}
/* Главный блок */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1300px;
    margin: 0 auto;
}

/*Блок Ленты*/
.lenta_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lenta_scroll{
    height: 800px;
    overflow: scroll;
}
.lenta_scroll::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;
} 
.lenta_blocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.lenta_block{
    border-radius: 5px;
    width: 603px;
    height: 749px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 41px;
    margin-left: 42px;
}
.lb_b_cit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 518px;
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 36px;
}
.lb_b_c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 73px;
}
.cat_l{
    display: flex;
    color: #151515;
    text-align: center;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cat_a{
    display: flex;
    color: #151515;
    text-align: center;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lb_t{
    width: 566px;
    height: 548px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 21px;
}

.title_lenta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #151515;
}

/*Боковая панель лайки, коменты, поделиться*/
.lenta_info{
    margin-left: 6px;
}
.lenta_info_block{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 54px;
    height: 138px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.18), 0 27px 27px 0 rgba(0, 0, 0, 0.15), 0 60px 36px 0 rgba(0, 0, 0, 0.09), 0 107px 43px 0 rgba(0, 0, 0, 0.03), 0 167px 47px 0 rgba(0, 0, 0, 0);
    background: #fff;
    margin-bottom: 6px;
}

.lenta_b{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.09), 0 5px 3px 0 rgba(0, 0, 0, 0.05), 0 10px 4px 0 rgba(0, 0, 0, 0.01), 0 15px 4px 0 rgba(0, 0, 0, 0);
    background: #fff;
}
.lenta_info_more{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 27px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.18), 0 27px 27px 0 rgba(0, 0, 0, 0.15), 0 60px 36px 0 rgba(0, 0, 0, 0.09), 0 107px 43px 0 rgba(0, 0, 0, 0.03), 0 167px 47px 0 rgba(0, 0, 0, 0);
    background: #fff;
}
.more_block{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 34px;
    height: 19px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.09), 0 5px 3px 0 rgba(0, 0, 0, 0.05), 0 10px 4px 0 rgba(0, 0, 0, 0.01), 0 15px 4px 0 rgba(0, 0, 0, 0);
    background: #fff;
}
.more_circle{
    border-radius: 100%;
    width: 4px;
    height: 4px;
    background-color:  #151515;
}
.lenta_coman_block{
    display: flex;
    align-items: center;
}

.like_lenta:hover{
    background-color: #151515;
}

.like_lenta:hover .like_lenta_ico path{
    fill:#fff;
}

.like_lenta_hover{
    position: absolute;
    top: 415px;
    right: 368px;
    display: block;
    z-index: 5;
}

.like_count_hover{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
}
.like_coment_block{
    height: 0;
}
.like_block_lent{
    width: 69px;
    display: flex;
    position: relative;
    top: 540px;
    right: -120px;
    z-index: 6;
    justify-content: space-between;
    align-items: center;
}
.com_block_lent{
    width: 69px;
    display: flex;
    position: relative;
    top: 519px;
    right: -211px;
    z-index: 6;
    justify-content: space-between;
    align-items: center;
}
.com_lenta:hover{
    background-color: #151515;
}

.com_lenta:hover .com_lenta_ico path{
    fill:#fff;
}

.com_lenta_hover{
    position: absolute;
    top: 455px;
    right: 368px;
    display: block;
    z-index: 5;
}

.com_count_hover{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
}

.rep_lenta:hover{
    background-color: #151515;
}

.rep_lenta:hover .rep_lenta_ico path{
    fill:#fff;
}

.rep_lenta_hover{
    position: absolute;
    top: 499px;
    right: 368px;
    display: block;
    z-index: 5;
}
.rep_lenta_img{
    position: absolute;
    top: 15px;
    right: 72px;
    z-index: 6;
}
.rep_count_hover{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 16px;
    right: 19px;
}


/*Блок с комментариями*/
.blocks_comment{
    display: none;
    flex-direction: column;
    margin-left: 8px;
}
.block_comment{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 486px;
    height: 532px;
    background: #fff;
}
.comment{
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 463px;
    height: 74px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 9px 9px 0 rgba(0, 0, 0, 0.07), 0 21px 13px 0 rgba(0, 0, 0, 0.04), 0 38px 15px 0 rgba(0, 0, 0, 0.01), 0 59px 17px 0 rgba(0, 0, 0, 0);
    background: #fff;
}
.comments_avatar{
    margin-left: 10px;
}
.comment_info{
    margin-left: 10px;
}
.ncikname{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #151515;
}
.comment_text{
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #151515;
}
.datecomment{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #151515;
}
.avatar_author_block{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 44px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.18);
    background: #fff;
}
.avatar_author_block img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.send_com{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.send_com_form{
    width: 459px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.send_com_form .avatar_author{
    width: 30px;
    height: 30px;
}
.text_send{
    padding-left: 6px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #151515;
    border-radius: 5px;
    width: 370px;
    height: 44px;
    border: none;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.18);
    background: #fff;
    resize: none;
}

textarea::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;
} 
.but_mes{
    border-radius: 5px;
    border: none;
    width: 44px;
    height: 44px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.18);
    background: #151515;
}
.but_mes svg{
    width: 23px;
    height: 20px;
}
.simvol{
    width: 80%;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #151515;
    margin-top: 17px;
}
.comments_scroll{
    height: 413px;
    overflow: scroll;
}
.comments_scroll::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;
} 

/*Блок автора*/

.block_author{
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 487px;
    height: 104px;
    background: #fff;
}
.avatar_author{
    margin-left: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 57px;
    height: 57px;
    border-radius: 50%;
}
.author_info{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.nickname{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #151515;
}
.name, .subcol{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #000;
}
.block_author{
    margin-top: 14px;
}

.lentaset, .lentaadd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;
    height: 77px;
    border-radius: 100%;
    background-color: #fff;
}

.lentaset_lentaadd{
    height: 165px;
    position: absolute;
    bottom: 21px;
    right: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Сортировка*/
.cs{
    display: flex;
    position: absolute;
    top: 105px;
    right: -389px;
    transition: 0.5s;
}
.cs_f{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.set_lent{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    width: 383px;
    height: 445px;
    box-shadow: 0 13px 28px 0 rgba(0, 0, 0, 0.26);
    background: #fff;
}
.cat{
    width: 383px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.st_lent_title{
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cat_title{
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sort_title{
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cat_blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 35px;
    color: #fff;
}
.cat_block{
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 136px;
    height: 43px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26), 0px 4px 4px 0px rgba(0, 0, 0, 0.22), 0px 9px 6px 0px rgba(0, 0, 0, 0.13), 0px 16px 7px 0px rgba(0, 0, 0, 0.04), 0px 26px 7px 0px rgba(0, 0, 0, 0.00);
    margin-bottom: 21px;
}
.cat_block input{
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 3px solid #000;
}
.cat_block label{
    padding-left: 25px;
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sb{
    width: 299px;
    height: 43px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26), 0px 4px 4px 0px rgba(0, 0, 0, 0.22), 0px 9px 6px 0px rgba(0, 0, 0, 0.13), 0px 16px 7px 0px rgba(0, 0, 0, 0.04), 0px 26px 7px 0px rgba(0, 0, 0, 0.00);
    padding-left: 10px;
    margin-bottom: 7px;
}
.sb input{
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 3px solid #000;
}
.sb label{
    padding-left: 25px;
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sort_btn{
    width: 305px;
    height: 43px;
    border-radius: 5px;
    background: #151515;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26), 0px 4px 4px 0px rgba(0, 0, 0, 0.22), 0px 9px 6px 0px rgba(0, 0, 0, 0.13), 0px 16px 7px 0px rgba(0, 0, 0, 0.04), 0px 26px 7px 0px rgba(0, 0, 0, 0.00);
    color: #FFF;
    text-align: center;
    font-family: Comfortaa;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.search_cat{
    border-radius: 5px;
    width: 249px;
    height: 43px;
    border: none;
    box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.14);
    background: #fff;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding-left: 6px;
    color: #333232;
}
.search_btn{
    border: none;
    border-radius: 5px;
    width: 58px;
    height: 43px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.88);
    background: #151515;
    color: #fff;
    font-size: 25px;
}

/* Блок с автором полное фото */
.block_author_full{
    position: absolute;
    z-index: 27;
    bottom: 105px;
    right: 253px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 310px;
    height: 104px;
    background: #fff;
}
/* Полное фото */
.pop_up{
    position: absolute;
    z-index: 25;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
.pop_up_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(85, 85, 85, 0.9);
}
.close_pop_up{
    border-radius: 5px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 51px;
    color:#fff;
    background: #101010;
}
.pop_up_fullimg{
    position: absolute;
    top: 94px;
    left: 246px;
    z-index: 26;
    border-radius: 10px;
    width: 1149px;
    height: 749px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.close_pop_up{
    position: absolute;
    z-index: 28;
    right: 252px;
    top: 103px;
}

