*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    background:
      radial-gradient(black 3px, transparent 4px),
      radial-gradient(black 3px, transparent 4px),
      linear-gradient(#dfdfdf 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #c4c4c4 75px, #c4c4c4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #c4c4c4 76px, #c4c4c4 77px, transparent 78px, transparent 109px),
      #dfdfdf;
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

/*Курсор*/
.circle {
    height: 15px;
    width: 15px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
}

/*Изменение темы*/
.theme{
    border: none;
    position: absolute;
    top: 10px;
    right: 42px;
    border-radius: 16px;
}
.theme_fon{
    border-radius: 16px;
    width: 62px;
    height: 31px;
    background: #151515de;
}
.moon_light{
    position: absolute;
    top: 0;
    right: 31px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border: none;
    background: #151515;
    border-radius: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.49), 0 2px 2px 0 rgba(0, 0, 0, 0.43), 0 5px 3px 0 rgba(0, 0, 0, 0.25), 0 9px 4px 0 rgba(0, 0, 0, 0.07), 0 14px 4px 0 rgba(0, 0, 0, 0.01);
    transition: .2s;
}

/*Меню*/
header{
    position: fixed;
    z-index: 3;
    width: 35px;
}

nav{
    width: 35px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0 0 23px;
}
nav a{
    display: flex;
}

.logo_block{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.09), 0 5px 3px 0 rgba(0, 0, 0, 0.05), 0 10px 4px 0 rgba(0, 0, 0, 0.01), 0 15px 4px 0 rgba(0, 0, 0, 0);
    background: #fff;
}

/* Лого наведение*/

.logo_hover{
    display: none;
    position: absolute;
    top: 7px;
    left: 63px;
    z-index: 1;
}
.logo_hover span{
    z-index: 2;
    position: relative;
    top: 26px;
    left: 34px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}
.logo:hover .logo_hover{
    display: block;
}

/* Профиль наведение */
.profile_logo{
    display: none;
    position: absolute;
    top: 46px;
    left: 61px;
}
.profile_logo span{
    position: relative;
    top: 25px;
    left: 32px;
}
.profile:hover .profile_logo{
    display: block;
}
.profile:hover .logo_block{
    background: #151515;
}
.profile:hover .logo_block svg path{
    fill: #fff;
}
/* Лента наведение */

.lenta_hover{
    display: none;
    position: absolute;
    top: 86px;
    left: 61px;
}
.lenta_hover span{
    position: relative;
    top: 25px;
    left: 41px;
}
.lenta:hover .lenta_hover{
    display: block;
}
.lenta:hover .logo_block{
    background: #151515;
}
.lenta:hover .logo_block svg path{
    fill: #fff;
}
/* Сообщения наведение */

.messages_hover{
    display: none;
    position: absolute;
    top: 127px;
    left: 61px;
}
.messages_hover span{
    position: relative;
    top: 26px;
    left: 23px;
}
.messages:hover .messages_hover{
    display: block;
}
.messages:hover .logo_block{
    background: #151515;
}
.messages:hover .logo_block svg path{
    fill: #fff;
}
/* Друзья наведение */

.friends_hover {
    display: none;
    position: absolute;
    top: 166px;
    left: 61px;
}
.friends_hover span{
    position: relative;
    top: 24px;
    left: 38px;
}
.friends:hover .friends_hover{
    display: block;
}
.friends:hover .logo_block{
    background: #151515;
}
.friends:hover .logo_block svg path{
    fill: #fff;
}
/* Настройки наведение */

.settings_hover{
    display: none;
    position: absolute;
    top: 206px;
    left: 61px;
}
.settings_hover span{
    position: relative;
    top: 25px;
    left: 23px;
}
.settings:hover .settings_hover{
    display: block;
}
.settings:hover .logo_block{
    background: #151515;
}
.settings:hover .logo_block svg path{
    fill: #fff;
}
/* Главный блок */
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1148px;
    margin: 0 auto;
}
/*Блок с перспективой*/
.main_block{
    display: flex;
    justify-content: space-between;
}
.paralax_block{
    width: 603px;
    height: 914px;
    border-radius: 10px;
    overflow: hidden;

}
.layers{
    perspective: 1000px;
}
.layers_container{
    width: 603px;
    height: 914px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
}
.layers_item{
    position: fixed;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    
}
.layer-1{
    transform: translateZ(0);
}
.layer-2{
    transform: translateZ(100px);
}
.layer-3{
    transform: translateZ(180px);
}

/*Блок фотографий*/

.photo_block{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 520px;
    height: 355px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.photo_block span{
    display: flex;
    width: 138px;
    height: 68px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #f9f9f9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo_block span b{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 31px;
    color: #f9f9f9;
}
.author_block{
    width: 107px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Блок с информацией*/
.info_block{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 521px;
    height: 182px;
    background: #f9f9f9;
}

.time_date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 61px;
    color: #151515;
}
.date{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #0b0b0b;
}
.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.city{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #151515;
}
.temp{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: #0f0f0f;
}
.info_bot{
    width: 133px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.speed,
.hum{
    width: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #151515;
    margin-right: 5px;
}


.temp_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.speed_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hum_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Блок сообщения*/

.messages_block{
    border-radius: 10px;
    width: 272px;
    height: 329px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages_block h3{
    display: flex;
    align-items: center;
    height: 41px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #151515;
}
.messages_scroll{
    display: flex;
    justify-content: center;
    width: 278px;
    height: 265px;
    overflow-y: scroll;
}
.messages_scroll::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;
}      
.messages_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}
.message{
    border-radius: 5px;
    width: 242px;
    height: 50px;
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.09), 0 22px 13px 0 rgba(0, 0, 0, 0.05), 0 39px 15px 0 rgba(0, 0, 0, 0.01), 0 61px 17px 0 rgba(0, 0, 0, 0);
    background: #f9f9f9;
}
.avatar{
    margin-left: 5px;
    margin-right: 5px;
}
.message_info{
    width: 100%;
}
.nickname{
    font-family: "Comfortaa", sans-serif;
    font-weight: 900;
    font-size: 12px;
    text-align: left;
    color: #000;
}
.last_mes{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-align: left;
    color: #000;
}
.date_mes{
    width: 90%;
    display: flex;
    justify-content: end;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-align: left;
    color: #000;
}

/*Блок Друзья*/

.messages_friends{
    display: flex;
    justify-content: space-between;
}

.friends_block{
    border-radius: 10px;
    width: 238px;
    height: 329px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends_block h3{
    display: flex;
    align-items: center;
    height: 41px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #151515;
}
.friends_scroll{
    display: flex;
    justify-content: center;
    width: 278px;
    height: 265px;
    overflow-y: scroll;
}
.friends_scroll::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;
}      
.friends_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}
.friend{
    border-radius: 5px;
    width: 208px;
    height: 50px;
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.09), 0 22px 13px 0 rgba(0, 0, 0, 0.05), 0 39px 15px 0 rgba(0, 0, 0, 0.01), 0 61px 17px 0 rgba(0, 0, 0, 0);
    background: #f9f9f9;
}
.friend_info{
    width: 100%;
}
.nickname{
    font-family: "Comfortaa", sans-serif;
    font-weight: 900;
    font-size: 12px;
    text-align: left;
    color: #000;
}
.sub{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-align: left;
    color: #000;
}
.date_create{

    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-align: left;
    color: #000;
}

.main_l{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

